In [1]:
import pandas as pd
import numpy as np

%load_ext lab_black

In [2]:
raw = pd.read_csv("./raw/CRE_19_Tract.csv")

In [3]:
raw.head(2)

,GEO_ID,STATE,COUNTY,TRACT,NAME,POPUNI,PRED0_E,PRED0_M,PRED0_PE,PRED0_PM,PRED12_E,PRED12_M,PRED12_PE,PRED12_PM,PRED3_E,PRED3_M,PRED3_PE,PRED3_PM
0,1400000US01001020100,1,1,20100,"Census Tract 201, Autauga County, Alabama",1924,720,285,37.42,14.82,644,302,33.47,15.71,560,267,29.11,13.86
1,1400000US01001020200,1,1,20200,"Census Tract 202, Autauga County, Alabama",2173,791,327,36.40,15.05,917,335,42.20,15.40,465,285,21.40,13.12

![Codebook](codebook.png)

In [4]:
raw["GEOID10_TRACT"] = raw["GEO_ID"].apply(lambda x: x.split("US")[1])

take top 30% of tracts

In [5]:
raw["three_factor_dac_pct"] = raw["PRED3_PE"].rank(pct=True)
raw["one_two_factor_dac_pct"] = raw["PRED12_PE"].rank(pct=True)

In [6]:
raw["three_factor_dac"] = raw["three_factor_dac_pct"] >= 0.7
raw["one_two_factor_dac"] = raw["one_two_factor_dac_pct"] >= 0.7

In [7]:
raw["three_factor_dac_10_pct"] = raw["three_factor_dac_pct"] >= 0.9
raw["one_two_factor_dac_10_pct"] = raw["one_two_factor_dac_pct"] >= 0.9

In [8]:
raw[
    [
        "GEOID10_TRACT",
        "three_factor_dac_pct",
        "one_two_factor_dac_pct",
        "three_factor_dac",
        "one_two_factor_dac",
        "three_factor_dac_10_pct",
        "one_two_factor_dac_10_pct",
        "PRED3_PE",
        "PRED12_PE",
    ]
].to_csv("clean/cre_clean.csv")

In [9]:
raw["three_factor_dac"].value_counts(dropna=False)

False    51144
True     21912
Name: three_factor_dac, dtype: int64

In [10]:
raw["one_two_factor_dac"].value_counts(dropna=False)

False    51146
True     21910
Name: one_two_factor_dac, dtype: int64

three factor gives better separation i think

In [11]:
raw.groupby("three_factor_dac")["PRED3_PE"].describe()

,count,mean,std,min,25%,50%,75%,max
three_factor_dac,,,,,,,,
False,51144.0,17.023308,5.311785,0.00,12.96,17.11,21.34,26.5
True,21912.0,35.185369,7.602055,26.51,29.37,33.12,38.99,100.0

In [12]:
raw.groupby("one_two_factor_dac")["PRED12_PE"].describe()

,count,mean,std,min,25%,50%,75%,max
one_two_factor_dac,,,,,,,,
False,51146.0,39.102751,5.558427,0.0,35.31,39.73,43.59,47.79
True,21910.0,54.127719,5.589717,47.8,50.01,52.75,56.69,100.00