In [1]:
import pandas as pd
import csv
from pathlib import Path
import os
import sys

In [2]:
module_path = os.path.abspath(os.path.join(".."))
if module_path not in sys.path:
    sys.path.append(module_path)

In [25]:
DATA_PATH = Path.cwd().parent / "data"
TMP_PATH: Path = DATA_PATH / "tmp"
ACS_YEAR = "2019"
OUTPUT_PATH = (
            DATA_PATH / "dataset" / f"census_acs_{ACS_YEAR}"
        )
CENSUS_USA_CSV = (
            DATA_PATH / "census" / "csv" / "us.csv"
        )

In [29]:
cbg_usa_df = pd.read_csv(
            CENSUS_USA_CSV,
            names=['GEOID10'],
            dtype={"GEOID10": "string"},
            low_memory=False,
            header=None
        )

In [30]:
cbg_usa_df.head()

        GEOID10
0  100010414002
1  100010415002
2  100010417011
3  100010417012
4  100010422011

In [31]:
cbg_usa_df.dtypes

GEOID10    string
dtype: object

In [41]:
acs_df = pd.read_csv(
            OUTPUT_PATH / "usa.csv",
            dtype={"GEOID10": "string"},
            low_memory=False,
        )

In [42]:
acs_df.head()

,GEOID10,Unemployed civilians (percent),Linguistic isolation (percent)
0,010399620002,0.077108,0.0
1,010399618002,0.126214,0.0
2,010399616004,0.133172,0.0
3,010399616002,0.028249,0.0
4,010399616001,0.063037,0.0

In [43]:
acs_df.dtypes

GEOID10                            string
Unemployed civilians (percent)    float64
Linguistic isolation (percent)    float64
dtype: object

In [44]:
merged_df = cbg_usa_df.merge(
            acs_df, on="GEOID10", how="left"
        )

In [45]:
merged_df.head()

,GEOID10,Unemployed civilians (percent),Linguistic isolation (percent)
0,100010414002,0.030612,0.065963
1,100010415002,0.118056,0.010283
2,100010417011,0.042373,0.000000
3,100010417012,0.042473,0.010435
4,100010422011,0.054358,0.000000

In [61]:
merged_df[merged_df.isnull().any(axis=1)]

,GEOID10,Unemployed civilians (percent),Linguistic isolation (percent)
34,100019900000,NaN,NaN
377,100030169041,NaN,NaN
392,100059900000,NaN,NaN
400,100039901000,NaN,NaN
416,100039801001,NaN,NaN
...,...,...,...
219505,340057048013,NaN,NaN
219508,340057048024,NaN,NaN
219758,340258047001,NaN,NaN
219807,340259900000,NaN,NaN
220134,340076113001,NaN,0.0