In [1]:
import pandas as pd
import csv
from pathlib import Path
import os
import sys

In [2]:
module_path = os.path.abspath(os.path.join(".."))
if module_path not in sys.path:
    sys.path.append(module_path)

In [9]:
DATA_PATH = Path.cwd().parent / "data"
TMP_PATH: Path = DATA_PATH / "tmp"
OUTPUT_PATH = (
            DATA_PATH / "score" / "csv" / "full"
        )
CENSUS_USA_CSV = (
            DATA_PATH / "census" / "csv" / "us.csv"
        )

In [4]:
cbg_usa_df = pd.read_csv(
            CENSUS_USA_CSV,
            names=['GEOID10'],
            dtype={"GEOID10": "string"},
            low_memory=False,
            header=None
        )

In [5]:
cbg_usa_df.head()

        GEOID10
0  100010414002
1  100010415002
2  100010417011
3  100010417012
4  100010422011

In [6]:
cbg_usa_df.dtypes

GEOID10    string
dtype: object

In [20]:
score_df = pd.read_csv(
            OUTPUT_PATH / "usa.csv",
            dtype={"GEOID10": "string"},
            low_memory=False,
        )

In [21]:
score_df.head()

,GEOID10,Housing burden (percent),Total population,Air toxics cancer risk,Respiratory hazard index,Diesel particulate matter,Particulate matter (PM2.5),Ozone,Traffic proximity and volume,Proximity to RMP sites,...,Score C (top 25th percentile),Score D (percentile),Score D (top 25th percentile),Score E (percentile),Score E (top 25th percentile),GEOID,State Abbreviation,County Name,State Code,State Name
0,010010201001,0.150000,692,49.377032,0.788052,0.278663,9.998132,40.121729,91.015900,0.085201,...,False,0.442680,False,0.351718,False,1001,AL,Autauga County,1.0,Alabama
1,010010201002,0.150000,1153,49.377032,0.788052,0.278663,9.998132,40.121729,2.618744,0.073796,...,False,0.162391,False,0.110560,False,1001,AL,Baldwin County,2.0,Alaska
2,010010202001,0.251497,1020,50.320741,0.808744,0.304313,10.070060,40.223949,4.679322,0.077868,...,False,0.692888,False,0.507087,False,1001,AL,Barbour County,4.0,Arizona
3,010010202002,0.251497,1152,50.320741,0.808744,0.304313,10.070060,40.223949,218.647491,0.086918,...,False,0.552791,False,0.592490,False,1001,AL,Bibb County,5.0,Arkansas
4,010010203001,0.205761,2555,50.772140,0.816773,0.364215,10.118469,40.309117,69.644262,0.080274,...,False,0.525318,False,0.470002,False,1001,AL,Blount County,6.0,California

In [22]:
score_df.dtypes

GEOID10                      string
Housing burden (percent)    float64
Total population              int64
Air toxics cancer risk      float64
Respiratory hazard index    float64
                             ...
GEOID                         int64
State Abbreviation           object
County Name                  object
State Code                  float64
State Name                   object
Length: 91, dtype: object

In [23]:
merged_df = cbg_usa_df.merge(
            score_df, on="GEOID10", how="left"
        )

In [24]:
merged_df.head()

,GEOID10,Housing burden (percent),Total population,Air toxics cancer risk,Respiratory hazard index,Diesel particulate matter,Particulate matter (PM2.5),Ozone,Traffic proximity and volume,Proximity to RMP sites,...,Score C (top 25th percentile),Score D (percentile),Score D (top 25th percentile),Score E (percentile),Score E (top 25th percentile),GEOID,State Abbreviation,County Name,State Code,State Name
0,100010414002,0.329749,1187.0,27.969210,0.360048,0.425322,7.492292,46.689116,1183.523645,0.233222,...,True,0.794556,True,0.808889,True,10001.0,NaN,NaN,NaN,NaN
1,100010415002,0.318937,1088.0,27.052430,0.345106,0.449490,7.480403,46.687226,618.349081,0.144232,...,False,0.355190,False,0.555160,False,10001.0,NaN,NaN,NaN,NaN
2,100010417011,0.172273,1554.0,27.157939,0.333029,0.326711,7.457452,46.504103,72.963866,0.114623,...,False,0.315904,False,0.272392,False,10001.0,NaN,NaN,NaN,NaN
3,100010417012,0.172273,4543.0,27.157939,0.333029,0.326711,7.457452,46.504103,190.671449,0.101234,...,False,0.278224,False,0.345686,False,10001.0,NaN,NaN,NaN,NaN
4,100010422011,0.265957,5153.0,25.175236,0.309475,0.281343,7.445211,46.659703,68.886582,0.105826,...,False,0.457934,False,0.472567,False,10001.0,NaN,NaN,NaN,NaN

In [25]:
merged_df[merged_df["Score D (percentile)"].isnull()]

,GEOID10,Housing burden (percent),Total population,Air toxics cancer risk,Respiratory hazard index,Diesel particulate matter,Particulate matter (PM2.5),Ozone,Traffic proximity and volume,Proximity to RMP sites,...,Score C (top 25th percentile),Score D (percentile),Score D (top 25th percentile),Score E (percentile),Score E (top 25th percentile),GEOID,State Abbreviation,County Name,State Code,State Name
10614,515150501002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10615,515150501003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10627,515150501001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10628,515150501005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10629,515150501004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174140,040190029031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174143,040190027012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174184,040190027011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174242,040194105021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174243,040194105011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN