In [1]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_csv('data/fips_states.csv')

In [51]:
df.head()

   fips  state_name
0     1    Alabama
1     2     Alaska
2     4    Arizona
3     5   Arkansas
4     6  California